@font-face {
    font-weight: 400;
    font-family: "TT Commons Regular", sans-serif;
    src: url("../../fonts/TTCommons-Regular.otf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-weight: 600;
    font-family: "TT Commons DemiBold", sans-serif;
    src: url("../../fonts/TTCommons-DemiBold.otf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-weight: 700;
    font-family: "TT Commons Bold";
    src: url("../../fonts/TTCommons-Bold.otf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-weight: 400;
    font-family: "Roboto Regular", sans-serif;
    src: url("../../fonts/Roboto-Regular.ttf");
    font-display: swap;
    font-style: normal;
}