@font-face {
    font-weight: 400;
    font-family: "TT Commons Regular";
    font-family: sans-serif;

    src: url("../../fonts/TTCommons-Regular.otf");
}

@font-face {
    font-weight: 600;
    font-family: "TT Commons DemiBold";
    font-family: sans-serif;
    src: url("../../fonts/TTCommons-DemiBold.otf");
}

@font-face {
    font-weight: 700;
    font-family: "TT Commons Bold";
    font-family: sans-serif;
    src: url("../../fonts/TTCommons-Bold.otf");
}

@font-face {
    font-weight: 400;
    font-family: "Roboto Regular";
    font-family: sans-serif;
    src: url("../../fonts/Roboto-Regular.ttf");
}