@mixin searchInput {
    
    border-radius: 4px;
    border: 1px solid #E7E4E4;
    transition: all 0.2s ease-in;
    color:black;background-color: $white;
    height: 35px;
    &::placeholder {
        color: #CECACA;
    }
}

@mixin socials {
    display: flex;
	justify-content: center;
	column-gap: 10px;
}

@mixin detailsLink {
    margin-top: auto;
        color: $blue-hover;
        transition: all 0.2s ease-in;
        &:hover {
            color: $red;
            .arrow {
                margin-left: 7px;
            }
        }
        .arrow {
            transition: all 0.2s ease-in;
            margin-left: 10px;
            transform: translateY(2px);
        }
}

@mixin btnStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-radius: 8px;
    padding: 14px 30px;
    color: $white;
    font-size: 20px;
}

///style for tarif cards and services Page

@mixin cardsWrapperStyle {
    display: grid;
        grid-template-columns: repeat(4, minmax(250px, 282px));
        gap: 36px;
        justify-content: center;
        @media (max-width: 1246px) {
            grid-template-columns: repeat(3, minmax(250px, 282px));
        }
        @media (max-width: 940px) {
            grid-template-columns: repeat(2, minmax(250px, 282px));
        }
        @media (max-width: 646px) {
            grid-template-columns: repeat(1,282px);
            
        }
}

@mixin cardsBtnStyle {
    display: flex;
        justify-content: center;
        column-gap: 30px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        justify-content: start;
        overflow-x: auto;
        padding-bottom: 15px;
        .mixitup-control-active {
            opacity: 1;
            color: $black;
            text-decoration: solid underline $red 5px;
            text-underline-offset: 8px;
        }
}

@mixin cardControlBtnStyle {
    font-size: 26px;
    font-weight: 700;
    opacity: 0.25;
    color: $blue-hover;
    white-space: nowrap;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: $gray;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 8px;
	border: 2px solid $gray;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(102, 102, 102);
	
}