//COLORS
$blue : #26213F;
$blue-hover: #504587;
$white: #FFFFFF;
$white-dots: #E7E4E4;
$red: #D22730;
$pinklink: #E36269;
$menu-linkhover: #AAA0DF;
$slider-color: #90E5D1;
$black: #000;
$services: #EEF1FC;

//fonts
$ttregular: "TT Commons Regular";
$ttdemibold: "TT Commons DemiBold";
$ttbold: "TT Commons Bold";
