.cards {
    display: flex;
    flex-direction: column;
    align-items: center; 
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 388px));
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
        gap: 36px;
        margin-bottom: 30px;
        @media (max-width: 1140px) {
            grid-template-columns: repeat(2, minmax(340px, 388px));
        }
        @media (max-width: 778px) {
            grid-template-columns: repeat(auto-fit, minmax(340px, 388px));
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 10px 20px 0px rgba(130, 143, 169, 0.30);
        padding: 24px 24px 24px 24px;
    }
    &__icon {
        height: 66px;
        width: 66px;
        object-fit: cover;
        margin-bottom: 24px;
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        color: $blue-hover;
        margin-bottom: 10px;
    }
    &__descr {
        font-size: 16px;
        color: $black;
    }
    &__link {
        
        margin-top: auto;
        color: $blue-hover;
        transition: all 0.2s ease-in;
        &:hover {
            color: $red;
            .arrow {
                margin-left: 7px;
            }
        }
        .arrow {
            transition: all 0.2s ease-in;
            margin-left: 10px;
            transform: translateY(4px);
        }
    }
    &__application {
        margin-bottom: 40px;
        background-color: $blue;
        color: $white;
        width: 175px;
        height: 48px;
        padding: 14px 30px 12px 30px;
        border-radius: 10px;
        transition: all 0.2s ease-in;
        &:hover {
            background-color: $blue-hover;
        }
    }
}