.modal {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(38, 33, 63, 0.9);
    overflow: hidden;
    transition: all 0.3s ease-in;

    &__form {
        transform: translateX(100%);
        border-radius: 10px 0px 0px 10px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
        width: 424px;
        background-color: $white-off;
        height: 100vh;
        padding: 90px 36px 36px 36px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: 470px) {
			width: 90%;
            padding: 67px 20px 20px 20px;
        }
        @media (max-height: 900px) {
			padding-top: 36px;
        }
        @media (max-width: 480px) {
			width: 340px;
        }
        .modal__form-title {
            margin: 0;
            margin-bottom: 10px;
            text-align: left;
            font-size: 36px;
        }
    }
    &__form-label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-bottom: 15px;
    }
    &__form-label--checkbox {
        flex-direction: row;
        font-size: 12px;
        align-items: end;
        line-height: 10px;
    }
    &__form-input {
        border: 1px solid $gray;
        padding: 13px 15px;
        border-radius: 4px;
        color: $black;
        margin-top: 4px;
        
        &::placeholder {
            font-size: 16px;
            color: $gray;
        }
    }
    &__form-input--checkbox {
        margin-right: 5px;
        

    }
    &__radio-container  {
        display: flex;
        column-gap: 15px;
        margin-bottom: 13px;
    }
    &__radio-label {
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $gray;
            border-radius: 50%;
            margin-right: 6px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            transform: translateY(5px);
        }
        @media (max-width: 470px) {
			font-size: 14px;
            white-space: nowrap;
        }
    }
    &__radio-input {
       position: absolute;
       z-index: -1;
       opacity: 0;
    }
    &__radio-label:hover::before {
        border-color: $blue-hover;
    }
    &__radio-input:checked + label::before {
        border: 6px solid $blue-hover;
    }
    &__form-textarea {
        border: 1px solid $gray;
        padding: 13px 15px;
        border-radius: 4px;
        height: 94px;
        resize: none;
        margin-top: 8px;
        &::placeholder {
            font-size: 16px;
            color: $gray;
        }
    }

    &__form-btn {
        width: 100%;
        @include btnStyle;
    }
}

.modal--active {
    opacity: 1;
    pointer-events: all;
    .modal__form {
        transform: translateX(0%);
    }
}

#modal {
.modal__form {
    &::-webkit-scrollbar {
        width: 0px;
        @media (max-height: 768px) {
            width: 10px;
        }
    }
}
}