.one-news {
    margin-top: 20px;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        column-gap: 142px;
    }
    &__item {
        display: block;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }
    .one-news__title {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: left;
    }
    &__date {
        font-size: 22px;
        color: $red;
        font-weight: 700;
    }




    &__aside {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 282px;
        .news__card {
            min-height: auto;
        }
    }
}