.tariff {
    margin-bottom: 60px;
    
    ::-webkit-scrollbar:horizontal {
        height: 8px;
        
    }
    
    ::-webkit-scrollbar-track {
        background-color: $gray;
        border-radius: 8px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
    }
    
    ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 8px;
        border: 2px solid $gray;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(102, 102, 102);
        
    }

    &__content {
        position: relative;
    }

    &__btn {
        font-size: 26px;
        font-weight: 700;
        opacity: 0.25;
        color: $blue-hover;
        white-space: nowrap;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        width: calc(100% - 36px);
        margin: 0 auto;
        margin-bottom: 20px;

        
        
        .mixitup-control-active {
            opacity: 1;
            color: $black;
            text-decoration: solid underline $red 5px;
            text-underline-offset: 8px;
        }
        @media (max-width: 741px) {
            justify-content: start;
            overflow-x: scroll;
            padding-bottom: 15px;

            
        }
        
    }
    &__switch {
        
        @media (max-width: 1246px) {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, 912px);
        }
        @media (max-width: 940px) {
            grid-template-columns: repeat(1, 612px);
        }
        @media (max-width: 646px) {
            grid-template-columns: repeat(1,282px);
            
        }
    }
    &__switch-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: start;
    }
    &__switch-title {
        font-size: 26px;
        font-weight: 600;
    }
    &__switch-label {
        display: inline-block;
        position: relative;
        min-width: 40px;
        height: 22px;
        border-radius: 15px;
        margin-right: 15px;
    }
    &__switch-input {
        height: 0;
        width: 0;
        opacity: 0;
        &:focus + .tariff__switch-slider {
            box-shadow: 0 0 4px $gray;
        }
        &:checked + .tariff__switch-slider::before {
                background-color: $blue-hover;
                left: unset;
                transform: translateX(19px);
        }
    }
    &__switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 15px;
        transition: all 0.4s;
        &::before {
            content: '';
            position: absolute;
            cursor: pointer;
            left: 1px;
            bottom: 1px;
            height: 18px;
            width: 18px;
            background-color: $gray;
            border-radius: 50%;
            transition: all 0.4s;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 282px));
        gap: 36px;
        justify-content: center;
        @media (max-width: 1246px) {
            grid-template-columns: repeat(3, minmax(250px, 282px));
        }
        @media (max-width: 940px) {
            grid-template-columns: repeat(2, minmax(250px, 282px));
        }
        @media (max-width: 646px) {
            grid-template-columns: repeat(1,282px);
            
        }
    }

    &__cards-wrapper {
        display: block;
        height: 0px;
        opacity: 1;
        margin-bottom: 0;
        pointer-events: all;
        .tariff-card {
            display: none;
        }
    }
    &__cards-wrapper--active {
        margin-bottom: 80px;
        height: unset;
        opacity: 1;
        pointer-events: all;
        .tariff-card {
            display: block;
        }
    }
}